.vscode
__pycache__
.DS_Store
.idea/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/TextToAnki.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
workspace.code-workspace
_temp/temp.txt
_temp/test.py
src/__init__.pyc
